@import "tailwindcss";

:root {
  --primary: #001BB7;
  --primary-text:#ede100;
  --secondary: #0046FF;
  --accent: #FF8040;

  --success: #16A34A;
  --error: #DC2626;
  --warning: #F59E0B;

  --background: #3486c9;
  --text: #111827;

  /* Custom Dashboard Theme Mappings */
  --color-base-100: #ffffff;
  --color-base-200: #f4f4f5;
  --color-neutral: #1f2937;
  --color-neutral-content: #ffffff;
  --color-primary: #001BB7;
  --color-primary-content: #ede100;
  --color-secondary: #0046FF;
  --color-secondary-content: #ffffff;
}

button{
  cursor: pointer;
}